@page "/"
@namespace SALGAPortal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRPulse Dashboard</title>
    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <base href="~/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <script src="_framework/blazor.server.js"></script>
    <link href="https://cdn.syncfusion.com/blazor/19.1.56/styles/bootstrap4.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/blazor/19.1.56/syncfusion-blazor.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <script src="https://use.fontawesome.com/1a0b227f9b.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <footer>
        <div class="container foot-tainer-landing">

            <p><b>&#169; All rights reserved SALGA</b></p>
            <p><a class="footer-links" asp-page="./Privacy" data-toggle="modal" data-target="#privacyModal">Legal Notice Disclaimer</a></p>
            <p>Telephone: (012) 369-8000</p> EMAIL: <b>municipalhcm@salga.org.za</b>

        </div>
    </footer>
    <script src="_framework/blazor.server.js"></script>

    <script type="text/javascript">
        function toggleNAV() {
            var bar = document.getElementById('sidenav');
            var skirt = document.getElementById('sidenav-skirt')

            if (bar.style.display === 'none') {
                bar.style.display = "block";
                skirt.style.display = "inline-block";
            }
            else {
                bar.style.display = "none";
                skirt.style.display = "none";
            }



        }
    </script>
    <!-- Controls when the jump up button should appears -->
    <script>
        window.onscroll = function () { jumpUP() };

        function jumpUP() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("upBTN").style.display = "block";
            } else {
                document.getElementById("upBTN").style.display = "none";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/js/MyJSFile.js"></script>
    <script src="~/js/anchorLink.js"></script>
    <script src="https://use.fontawesome.com/bbd80a7a6b.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
