<div class="row">
    <div class="col">
        <div style="background-image:url('/images/background_1.png')">
            <h4>You are not authorized to access this portal</h4>
            <br />
             For further assistance contact your Administrator 
        </div>
    </div>
</div>

