@page
@model MunicipalityPortal.Pages.ConfirmPasswordModel

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <form method="post">
                    <input asp-for="@Model.Token" type="hidden" />
                    <input asp-for="@Model.UserID" type="hidden" />
                    <div class="card" style="width:500px; margin-top:135px">
                        <div class="card-header bg-light">
                            <div class="card-title-login">Please enter and confirm your new password</div>
                        </div>

                        <div class="card-body">

                            <div class="input-group">
                                <input id="txtPassword" asp-for="Password" type="password" class="form-control" placeholder="New Password" />
                                <div class="input-group-append">
                                    <button class="btn" id="show_password" type="button">
                                        <i class="fa fa-eye-slash iconPassword"></i>
                                    </button>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <input id="txtConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                                <div class="input-group-append">
                                    <button class="btn" id="show_confirmpassword" type="button">
                                        <i class="fa fa-eye-slash iconConfirmPassword"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <p>
                                        <button type="submit" value="reset" class="btn crd-primary">Update Password</button>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        <span>Unable to update password.</span>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript">

        $(document).ready(function () {

            $('#show_confirmpassword').hover(function show() {
                //Change the attribute to text
                $('#txtConfirmPassword').attr('type', 'text');
                $('.iconConfirmPassword').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            },

            function () {
                //Change the attribute back to password
                $('#txtConfirmPassword').attr('type', 'password');
                $('.iconConfirmPassword').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });


            $('#show_password').hover(function show() {
                //Change the attribute to text
                $('#txtPassword').attr('type', 'text');
                $('.iconPassword').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            },
            function () {
                //Change the attribute back to password
                $('#txtPassword').attr('type', 'password');
                $('.iconPassword').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
        });

    </script>
}


