@page
@model SALGAWeb.Pages.ForgotPasswordModel
@{
}
<form method="post" style="margin-top:155px; margin-bottom:100px; width: 450px; height:350px; margin-left:auto;margin-right:auto;">
    <div class="card">
        <div class="card-header bg-dark">
            <div class="card-title-login">
                Reset Password </div>
            </div>
        <div class="card-body ">
            <div class="form-group row">

                <div class="col-12">
                    <div class="text-center" style="margin-bottom:2em;">
                        Enter your email below to receive your password reset instructions.
                    </div>

                    <input asp-for="EmailAddress" class="form-control" type="email" placeholder="Email Address" />
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>
                    @if (Model.EmailSent)
                    {
                        @:A password reset link has been sent to this email address.
                    }
                </div>
                <br />
                
            </div>
            <button type="submit" class="btn crd-tertiary"style="margin-top:1em;"><span>Send Password Reset Email</span></button>
        </div>
    </div>
</form>
