@page
@model MunicipalityPortal.Pages.FullHomeModel
@{
}
<!-- H E R O -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col content-box hero-content">
                <h1>Self-Profiling Tool: <mark class="orange">MunicipalHRPulse(muniHRP)</mark></h1>

                <p>
                    The Profiling Tool is a cloud based questionnaire used to collect data and to profile the twelve (12) Human Resource Management and Development (HRM&D) or Human Capital Management (HCM)[ HRM&D and HCM bears the same meaning in this
                    context and are used interchangeably ] value chain elements that gives expression to a strategic human capital management perspective in municipalities.
                </p>

                <a class="btn btn-regular cta-one" asp-page="./Register">REGISTER</a>

                <a href="#municipality" class="cta-two">LEARN MORE</a>
            </div>
            <div class="col image-box">
                <img class="demo-image" src="images/dashboard.png" />
            </div>
        </div>
    </div>
</section>

<!-- E N D  H E R O -->
<!-- M U N I C I P A L I T Y -->
<section id="municipality">
    <div class="container">
        <div class="row">
            <div class="col municipality-box municipality-content">
                <h1>
                    EFFICIENT AND FASTER<br> ASSESSMENTS FOR<br>
                    <mark class="orange">MUNICIPALITIES</mark>
                </h1>

                <p>
                    The SALGA HRM&D Strategy Blueprint that was adopted by municipalities during the 2013 SALGA convened HRM policy conference envisions a municipal HRM&D capability that supports the developmental local government agenda as envisioned by the
                    National Development Plan (2030) and not only consumed by day to day, transactional HRM activities. To this end, it sets the following broad Strategic Objectives to achieve the desired transformation:
                </p>

                <ol id="orderdList" style="line-height: 30px;height: 18%;overflow:hidden;">
                    <li>
                        The repositioning of HRM&D within the context of developmental local government, with specific emphasis to the focus areas sanctioned by the Minister for Cooperative Governance and Traditional Affairs, the municipality’s Integrated
                        Development Plan (IDP), including Provincial and National priorities. <a id="more" onclick="openMORE()" style="display:inline-block;" class="moreText">Read more...</a>
                    </li>
                    <li>
                        Ensuring that HRM&D in LG is governed effectively.
                    </li>
                    <li>
                        Adopting and implementing a wide set of options for capacity development in order to meet the demands of local public administration, on both political and administrative levels.
                    </li>
                    <li>
                        Implementing targeted initiatives to address high priority focus areas.<a id="more" onclick="openMORE()" style="display:inline-block;" class="moreText">View less</a>
                    </li>
                </ol>


                <a href="#selling" class="btn btn-regular cta-one">EXPLORE FEATURES</a>

            </div>

            <div class="col image-box">
                <img class="demo-image" src="images/gif.gif" />
            </div>

        </div>
    </div>
</section>
<!-- E N D  M U N I C I P A L I T Y -->
<!-- F E A T U R E S -->
<section id="selling">
    <div class="title-block">
        <h2>MORE THAN A DATA CAPTURING TOOL.<br> EXPLORE ITS FEATURES</h2>
        <p>
            The outcomes of the profiling tool serves the establish a shared understanding of the human capital management maturity levels as well as determine the gap between the current and desired state of maturity of the HCM function by the
            municipality. SALGA and the municipalities are further empowered to identify and shape the initiatives to be implemented to evolve the HCM. Function to a strategic level.

            Municipalities can also be able to leverage real time HCM data from the system especially in the wake of realizing the objectives which the District Development Model (DDM) seeks and other local government initiatives seek to resolve.

        </p>
    </div>
    <div class="features">
        <div class="row">
            <div class="features-card-holder">
                <div class="features-card">
                    <img class="features-icon" src="images/light.png" />
                    <h6>Questionnaires</h6>

                    <p>
                        The questionnaire starts by posing questions to elicit a high level demographic profile of the municipality. This section is then followed by questions which examines the municipality’s position on each of the value chain elements in
                        contrast with the upward cascading four levels of Human Capital Management Capability Maturity Model.
                    </p>
                </div>

                <div class="features-card">
                    <img class="features-icon" src="images/document-b.png" />
                    <h6>Digitalized</h6>

                    <p>
                        The reimagining of the profiling tool as part of local government digital transformation roadmap has culminated into a digitalized profiling tool, with enhanced business processes as well as a knowledge management capability for both
                        SALGA and municipalities.<br />
                        <br />
                    </p>
                </div>

                <div class="features-card">
                    <img class="features-icon" src="images/graph-b.png" />
                    <h6>Instant reports</h6>

                    <p>
                        The tool is no longer to be administered during a face-to-face engagement by SALGA and the municipality. The municipality is now enabled to conduct its own assessment and be immediately provided with a report of outcomes of the
                        assessment and recommendations towards improvement and or sustaining good practices.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

