@page
@model MunicipalityPortal.Pages.RegistrationConfirmedModel


<div class="d-flex justify-content-center">
    <div style="right:0; top:100px; width: 50%; padding-top: 50px; padding-bottom: 50px; background-color: #ff6a00;">
        <div class="reg-text-block">
            <h3 style="color: #ffffff; font-size: 45px; font-weight:600;">Thank you for registering. An email confirmation message has been sent to the address you provided. </h3>
        </div>
    </div>
</div>
