@model CategoryScoreBarGraphViewModel
@{
}

<div class="row">
    <div class="col">
        @Model.Category
    </div>
</div>

<div class="row">
    @Model.Category
    <div class="col">
       <div id="@Model.ChartName">

       </div>
    </div>
</div>

